<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auguest.study.demo.mapper.FlowerMapper">

    <select id="getFlowerById" resultType="com.auguest.study.demo.dao.Flower">
        select t.* from flower t where t.id = #{id}
    </select>

    <!-- 当前的测试参考类型，进行调整和修正-->



</mapper>
